*{
  background-color: brown;
}


.container {
  
  margin-top: 50px;
}

.projects-container{
   margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
